<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../global.css"/>
</head>
<body>
<form><input type="hidden" id="crudType" />
<div>
<span id="messages"></span>
</div>
<table class="tablebg">
<tr>
    <td><label id="empnoLabel">empno</label></td>
	<td>
	<span id="empno">empno</span><input type="hidden" id="empno-hidden" />
	</td>
	<td><span id="empnoMessage"></span></td>
</tr>
<tr>
    <td><label id="enameLabel">ename</label></td>
	<td>
	<span id="ename">ename</span><input type="hidden" id="ename-hidden" />
	</td>
	<td><span id="enameMessage"></span></td>
</tr>
<tr>
    <td><label id="mgridLabel">mgrid</label></td>
	<td>
	<span id="mgrid">mgrid</span><input type="hidden" id="mgrid-hidden" />
	</td>
	<td><span id="mgridMessage"></span></td>
</tr>
<tr>
    <td><label id="hiredateLabel">hiredate</label></td>
	<td>
	<span id="hiredate">hiredate</span><input type="hidden" id="hiredate-hidden" />
	</td>
	<td><span id="hiredateMessage"></span></td>
</tr>
<tr>
    <td><label id="salLabel">sal</label></td>
	<td>
	<span id="sal">sal</span><input type="hidden" id="sal-hidden" />
	</td>
	<td><span id="salMessage"></span></td>
</tr>
<tr>
    <td><label id="deptidLabel">deptid</label></td>
	<td>
	<span id="deptid">deptid</span><input type="hidden" id="deptid-hidden" />
	</td>
	<td><span id="deptidMessage"></span></td>
</tr>
</table>
<div id="isComeFromList">
	<input type="button" id="jumpEmpList" value="Previous" 
		onclick="location.href='EmpList.html'"
	/>
</div>
<div id="isNotComeFromList" style="display: none;">
	<input type="button" id="jumpEmpEdit" value="Previous"
		onclick="location.href='EmpEdit.html'"
	/>
</div>
<div id="isCreate">
	<input type="button" id="doFinish" value="Create"
		onclick="location.href='EmpList.html'" />
</div>
<div id="isUpdate" style="display: none;">
	<input type="button" id="doFinish-update" value="Update"
		onclick="location.href='EmpList.html'" />
</div>
<div id="isDelete" style="display: none;">
	<input type="button" id="doFinish-delete" value="Delete"
		onclick="location.href='EmpList.html'" />
</div>
</form>
</body></html>