<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../global.css"/>
</head>
<body>
<form id="form">
<input type="hidden" id="crudType" />
<div>
<span id="messages"></span>
</div>
<table class="tablebg">
<tr>
    <td><label id="empnoLabel">empno</label></td>
	<td>
	<div id="isCreate">
		<input type="text" id="empno-input" />
	</div>
	<div id="isNotCreate" style="display: none;">
		<span id="empno">empno</span><input type="hidden" id="empno-hidden" />
	</div>
	</td>
	<td><span id="empnoMessage"></span></td>
</tr>
<tr>
    <td><label id="enameLabel">ename</label></td>
	<td>
	<input type="text" id="ename" />
	</td>
	<td><span id="enameMessage"></span></td>
</tr>
<tr>
    <td><label id="mgridLabel">mgrid</label></td>
	<td>
	<input type="text" id="mgrid" />
	</td>
	<td><span id="mgridMessage"></span></td>
</tr>
<tr>
    <td><label id="hiredateLabel">hiredate</label></td>
	<td>
	<input type="text" id="hiredate" />
	</td>
	<td><span id="hiredateMessage"></span></td>
</tr>
<tr>
    <td><label id="salLabel">sal</label></td>
	<td>
	<input type="text" id="sal" />
	</td>
	<td><span id="salMessage"></span></td>
</tr>
<tr>
    <td><label id="deptidLabel">deptid</label></td>
	<td>
	<input type="text" id="deptid" />
	</td>
	<td><span id="deptidMessage"></span></td>
</tr>
</table>
<input type="button" id="jumpEmpList" value="Previous"
	onclick="location.href='EmpList.html'"/>
<input type="button" id="goEmpConfirm" value="Confirm"
	onclick="location.href='EmpConfirm.html'"/>
</form>
</body></html>