<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../global.css"/>
</head>
<body>
<form>
<input type="button" id="goEmpEdit" value="Create" onclick="location.href='empEdit.html'"/><br/>
<table id="empGrid" width="300px" height="200px">
	<colgroup>
		<col span="2" width="60px" class="T_leftFixed" />
		<col span="4" width="70px" />
	</colgroup>
	<thead>
		<tr height="50px">
			<th><label id="empnoLabel">empno</label></th>
			<th><label id="enameLabel">ename</label></th>
			<th><label id="mgridLabel">mgrid</label></th>
			<th><label id="hiredateLabel">hiredate</label></th>
			<th><label id="salLabel">sal</label></th>
			<th><label id="deptidLabel">deptid</label></th>
			<th><br/></th>
		</tr>
	</thead>
	<tbody>
		<tr class="row_even">
			<td><span id="empno">empno</span></td>
			<td><span id="ename">ename</span></td>
			<td><span id="mgrid">mgrid</span></td>
			<td><span id="hiredate">hiredate</span></td>
			<td><span id="sal">sal</span></td>
			<td><span id="deptid">deptid</span></td>
			<td><a id="goEmpEdit-edit" href="empEdit.html?fixed_crudType=2&empno=$empno">Edit</a>
			<a id="goEmpConfirm" href="empConfirm.html?fixed_crudType=3&empno=$empno">Delete</a>
			<a id="goEmpConfirm-confirm" href="empConfirm.html?fixed_crudType=1&empno=$empno">Inquire</a>
			</td>
		</tr>
	</tbody>
</table>
</form>
</body></html>