<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
</head>
<body>
<span id="allMessages"/>
<form id="form">
<input type="hidden" id="aaaItemsSave"/>
<table border="1">
    <tbody id="aaaItems">
        <tr>
            <td><input type="text" id="id"/></td>
            <td><input type="text" id="name"/></td>
        </tr>
    </tbody>
</table><br />
<input type="submit" id="doSubmit" value="submit"/>
</form>
</body>
</html>
