<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>login</title>
<style>
.onTeedaError {
    background-color: #FFCCCC;
}
</style>
</head>
<body>
<span id="messages"/>
<form id="form">
<table>
<tr>
<td><label id="userNameLabel"/></td>
<td><input type="text" id="userName"/></td>
<td><span id="userNameMessage"/></td>
</tr>
<tr>
<td><label id="passwordLabel"/></td>
<td><input type="password" id="password"/></td>
<td><span id="passwordMessage"/></td>
</tr>
</table>
<input type="button" id="jumpWelcome" value="login"
    onclick="location.href='welcome.html'"/>
</form>
</body>
</html>